* {
  background-color: black;
}

#container {
  height: 800px;
  width: 500px;
  background-color: darkgrey;
  margin: auto;
  margin-top: 200px;
  padding-top: 20px;
}

#structure {
  background-color: black;
  height: 100px;
  width: 40px;
  margin: auto;
}

#stoplight {
  background-color: black;
  height: 365px;
  width: 150px;
  margin: auto;
  padding-top: 20px;
}

#red {
  background-color: red;
  margin-top: 0px;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

.light {
  border-radius: 80%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 100px;
  position: relative;
}

#green:hover {
  background-color: white;
  box-shadow: 0 0 15px 15px limegreen;

}